html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal {
    width: 525px;
    background-color: #fff;
    text-align: center;
    z-index: 1;
    padding: 2% 8%;
    border-radius: 3%;
    position: absolute;
    margin: auto;
    display: none;
}

.btn {
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    color: #1a1a1b;
    border: 0;
    padding: 8px 30px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.countdown {
    margin: 0;
    color: maroon;
}
/*
 * Styles for the deck of cards
 */

.deck {
    width: 525px;
    height: 525px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 110px;
    width: 110px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: transform 0.5s ease;
    position: relative;
}

.deck .card.open {
    transform: rotateY(180deg);
    background: #02b3e4;
    cursor: default;
    transition: transform 0.5s ease;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation: pop 1s ease-in-out;
}

.deck .card.unmatch {
    cursor: default;
    background: #fa361c;
    animation: shake 0.4s linear;
}

@keyframes pop {
    30% {
        transform: scaleX(1.4);
        transform: scaleY(0.7);
    }
    60% {
        transform: scaleY(1.4);
        transform: scaleX(0.7);
    }
    90% {
        transform: scaleX(1.4);
        transform: scaleY(0.7);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shake {
    0% {
        left: 0;
        bottom: 0;
    }
    25% {
        left: 10px;
        bottom: 8px;
    }
    50% {
        left: -16px;
        bottom: 16px;
    }
    75% {
        left: 10px;
        bottom: 8px;
    }
    100% {
        bottom: 0;
        left: 0;
    }
}

/*
 * Styles for the Score Panel (restyled)
 */

.score-panel {
    width: 530px;
    margin: 5px 0;
}

.score-panel .stars {
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .column {
    width: calc(100%/3);
    float: left;
    text-align: center;
}

.score-panel #restart {
    font-size: 1em;
    cursor: pointer;
}

.column #duration, .column #moves {
    display: inline-block;
    width: 20px;
}

/* check usability on smaller devices */

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.4em;
    }

    .countdown {
        font-size: 0.8em;
    }

    .deck {
        width: 95%;
        height: 80%;
        padding: 10px;
    }

    .modal {
        width: 95%;
    }

    .deck .card {
        height: 98px;
        width:23%;
        margin: 1%;
    }

    .deck .card.open.show {
        font-size: 1.5em;
    }

    .score-panel {
        font-size: 0.8em;
        width: 99%;
        margin: 0;
    }

    .score-panel .column {
        float: left;
        text-align: center;
    }
}